* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgray;
    padding-bottom: 20px;
}
.grupo {
    color: black;
    padding-top: 30px;
    width: 100%;
    text-align: center;
}
.questao {
    
    padding: 10px;
    border-top: 4px solid green;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    width: 45%;
    margin-top: 30px;

    transition: 1s 0s;
}

.questao:hover {
    background-color: aliceblue;
    
}


input {
    margin-top: 10px;
    width: 80%;
    height: 5vh;
    border: solid 0.5px black;
    border-radius: 10px;
}

input[type=number] {
    padding-left: 1vh;
}

input[type=text] {
    padding-left: 1vh;
}

input[type=button] {
    background-color: green;
    border: none;
    color: white;
    transition: 1s 0s;
    margin-bottom: 10px;
    width: 25%;
}

input[type=button]:hover {
    background-color: greenyellow;
    color: black;
    box-shadow: 1px 1px 10px black;
}