body {
    background: rgb(149, 149, 202);
    font: normal 20pt Arial;
    color: black;
}

header {
    width: 500px;
    margin: auto;
    color: white;
    text-align: center; 
}

section {
    background: white;
    color: black;
    width: 500px;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

footer {
    background:rgb(149, 149, 202);
    color: white;
    width: 500px;
    margin: auto;
    text-align: center;
    font-style: italic;
}